h1{
    font-family: "Permanent Marker", Arial, Helvetica;
    text-align: center;
}
.bodygrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}
picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img[data-src]{
    filter: blur(0.5em);
}
img[src]{
    filter: blur(0em);
    transition: filter 3s;
}