.chamberbody{
    margin:auto;
    max-width: 75%;
}

.chambertitle{
    margin-top: 25px;
    background-color: #1a4173;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    grid-template-rows: 33% 33% 33%;
    font-family: "Roboto Condensed", sans-serif, Helvetica;
    font-weight: 700;
}

footer{
    font-family: "Roboto Condensed", sans-serif, Helvetica;
    font-weight: 500;
    background-color: #1a4173;
    color: white;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.chamberflex{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-items: center;
}
.contentbox{
    background-color: lightgray;
    border-radius: 5px;
    border: 2px solid gray;
    margin: 10px;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif, Helvetica;
    font-weight: 300;
    font-size: 20px;
}
.contentbox h3{
    margin: 10px;
}
.timestamp{
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
    color: black;
}
header p{
    text-align: center;
}
#header1{
    text-align: center;
}
#header2 h2 a{
    justify-content: space-between;
}
.header3{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
nav ul{
    list-style-type: none;
}
#headernav li a{
    color: #FFF;
    display: block;
	padding: .8rem 2vw;
	text-decoration: none;
    border: 1px solid rgba(255,255,255,0.5);
    margin-right: 40px;
    margin-bottom: 10px;
    min-height: 25px;
    align-items: center;
    justify-content: center;
}

#chambspot3{
    display: none;
}
#join{
    display: none;
}
#footaddress{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 20px;
}
#headernav li a:hover{
    color: #498BA6;
}
#headernav li img:hover{
    background-color: #498BA6;
}
nav button{
	margin: .2rem 2vw;
	background: #fff;
	border: 2px solid #555;
	font-size: 2rem;
	color: #555;
}
nav ul{
   display: none; 
}
nav ul.open{
	display: block;
    flex: 1 1 auto;
}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}