@media (min-width:60em) {
    nav ul{
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    nav ul li a{
        background-color: #555;
        color: #1a4173;
        max-width: 100%;
        justify-items: center;

    }
    nav button{
        display: none;
    }
    #chambspot3{
        display: block;
    }
    #join{
        display: block;
    }
    #hamburgerBtn span:nth-child(1) {display:none;}
    #hamburgerBtn span:nth-child(2) {display:none;}
    
    #hamburgerBtn.open span:nth-child(1) {display:none;}
    #hamburgerBtn.open span:nth-child(2) {display:none;}    

.chamberflex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
#event{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#weather{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#join{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
#hero{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
#news{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
#chambspot1{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
#chambspot2{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
#chambspot3{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.spotdiv{
    display: block;
    margin-top: 10px;
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    margin-bottom: 10px;
}

#footaddress{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
footer img{
    grid-column: 1 / 2;
    margin-left: auto;
    margin-right: auto;
}
#address{
    margin-top: 20px;
    grid-column: 2 / 3;
}
#footemail{
    margin-top: 20px;
    grid-column: 3 / 4;
}
#joinus{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.discovergrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
}
