@media (min-width:37.5em) {
    nav ul{
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    nav ul li a{
        background-color: #555;
        color: #1a4173;
        max-width: 100%;
        justify-items: center;
        padding: 20px;
    }
    nav button{
        display: none;
    }    
    .chamberflex{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        grid-gap: 10px;
        justify-items: center;
    }
    #chambspot3{
        display: none;
    }
    #join{
        display: block;
    }
    #hamburgerBtn span:nth-child(1) {display:none;}
    #hamburgerBtn span:nth-child(2) {display:none;}
    
    #hamburgerBtn.open span:nth-child(1) {display:none;}
    #hamburgerBtn.open span:nth-child(2) {display:none;}

}

