/*********** Temple Inn & Suites Full Site CSS ***********/
body {
  background-color: #392f5a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", "Helvetica", Arial;
}

p,
ul,
ol {
  font-family: "Oswald", Arial, sans-serif;
}

.headerlogo img,
.footerlogo img {
  width: 175px;
}
.headerlogo {
  padding-top: 25px;
}

.headerlogo img {
  margin: 25px;
  border: 3px solid #392f5a;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#date {
  border: 2px solid #4b4269;
  padding: 5px;
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.headerdate {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#header2 {
  grid-column: 2/3;
}

#headernav {
  margin-right: 25px;
  padding: 0;
  text-align: right;
}

#headernav li {
  grid-row: 1/2;
  grid-column: 2/3;
  list-style: none;
  display: block;
  margin-left: 30px;
}

#headernav a {
  text-decoration: none;
  display: block;
  padding: 5px 5px;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid #4b4269;
  background-color: #b78627;
  color: #fff;
  margin-bottom: 15px;
  margin-right: 5px;
  border-radius: 12px;
  transition-duration: 0.4s;
}
#headernav a:hover {
  background-color: #208b3a;
}

.socialnav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.socialnav li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.indexhome {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  background-color: #208b3a;
  color: #fff;
  width: fit-content;
  padding: 0px 10px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000;
}

.face,
.twit {
  background-color: #000;
  border: 2px solid #000;
}

.social {
  list-style-type: none;
  grid-row: 2/3;
}

.social li a {
  margin-top: 25px;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 20px;
}

.siteheader {
  display: flex;
  flex-direction: column;
  margin: 40px;
  border: 10px solid #b78627;
  border-radius: 5px;
  background-color: #ffee99;
}

.indexcontent {
  text-align: center;
}

#homeheader {
  color: #fff;
}

.templefooter {
  margin: 40px;
  border: 10px solid #b78627;
  border-radius: 5px;
  background-color: #ffee99;
  display: flex;
  flex-direction: column;
}
.footerlogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 3px solid #392f5a;
}
.footcontact {
  text-align: center;
  margin-bottom: 20px;
}
.footmap {
  text-align: center;
  margin-bottom: 30px;
}

.mapimage img {
  width: 150px;
  border: 3px solid #392f5a;
}
.copyinfo {
  text-align: center;
  border-top: 1px solid #000;
  margin: 0 20px;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
  flex: 1 1 auto;
}

nav button {
  background-color: #fff;
  border: 2px solid #555;
  font-size: 2.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/************ CONTACT THANK YOU PAGE *************/
#contactthanks,
#resthanks {
  text-align: center;
  color: #fff;
  margin: 80px 0;
}

#contactthanks h1,
#resthanks h1 {
  margin-bottom: 40px;
}

#contactthanks p,
#resthanks p {
  font-size: 20px;
}

/************ CONTACT US PAGE *************/
.contactpage {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#contactheader {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
#contactform {
  background-color: #fff;
}

#contactgrid {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
}
#contactinfo {
  position: relative;
  margin: 2.5rem 1rem;
  border: 1px solid #4b4269;
  border-radius: 6px;
  padding: 0.5rem 0.5rem 2%;
  margin-bottom: 6.3rem;
}
#contactinfo::after {
  content: "";
  background-image: url("https://shishigamizero.github.io/wdd230/templeinn/images/meridiantemplelow.webp");
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.4;
}
#inquiry {
  width: 90%;
  max-width: 50rem;
  background-color: #dddddd;
  padding: 0.75rem;
}
form fieldset {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 2rem 1rem;
  border: 1px solid #1a4173;
  border-radius: 10px;
  padding: 0.5rem 0.5rem 2%;
}

form legend {
  color: #1a4173;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: 1.1rem;
}

form label.top input,
form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 90%;
  max-width: 50rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form input.submitBtn {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 3px solid #b78627;
  background-color: #1a4173;
  color: #fff;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  max-width: 20rem;
  cursor: pointer;
}

form input.submitBtn:hover {
  background-color: #208b3a;
  border: 3px solid #392f5a;
}

.top,
.sbs,
#responsemethod {
  margin-left: 15px;
}

#asterisk {
  color: #5e1a0b;
  margin: 10px 0 0 15px;
  font-size: 16px;
}
.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent
    url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat 100% center;
  padding-right: 5px;
  max-width: 50rem;
}

#contactaddress {
  text-align: center;
}
/************ ATTRIBUTIONS PAGE *************/
#attheader {
  text-align: center;
  color: #fff;
}

#attheader p {
  font-size: 18px;
}
.attcontent {
  background-color: white;
  color: #000;
  border: 5px solid #b78627;
  border-radius: 12px;
}

.attcontent h2, p{
  margin-left: 15px;
}

/************ RESERVATIONS PAGE *************/
#respage {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#resheader {
  text-align: center;
  color: #ffffff;
}

#resheader p {
  font-size: 18px;
}
#reservationgrid {
  background-color: #fff;
  border-radius: 12px;
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.center {
  padding-bottom: 20px;
}
#ressaltlake,
#resrexburg {
  display: none;
}

/************ SERVICES PAGE *************/
#serviceheader {
  text-align: center;
  color: #ffffff;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#wond {
  font-size: 18px;
}

#smalltext {
  font-size: 10px;
}

.servcard {
  background-color: #fff8f0;
  border: 5px solid #b78627;
  border-radius: 12px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.servcard h2 {
  text-align: center;
}

.servcard p {
  margin: 0 10px;
}

.servbutton {
  background-color: #b78627;
  color: #fff;
  border-radius: 12px;
  border: 4px solid #4b4269;
  margin: 20px auto;
  padding: 10px;
  display: block;
  font-family: "Oswald", Arial, sans-serif;
  cursor: pointer;
  font-size: 22px;
}

.servbutton:hover {
  background-color: #208b3a;
}
/************ MISSIONARIES PAGE *************/
.missiongrid{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#missionheader{
  text-align: center;
  color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#missionheader p{
  margin: 0 10px;
  margin-bottom: 30px;
}

.missionimg img{
  display: block;
  margin: 20px auto;
  border: 3px solid #4b4269;
  width: 90%;
}
#contactp{
  text-align: center;
  font-size: 20px;
  margin: 20px auto;
}
/************ RECEPTIONS PAGE *************/
#receptionheader{
  text-align: center;
  color: #fff;
}

.receptioncontent{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}
 .servcard li{
   margin-right: 10px;
 }

.receptiondesc{
  text-align: center;
  font-size: 16px;
  color: #fff;
}
/************ TEMPLES PAGE *************/
#templeheader{
  text-align: center;
  color:#FFF;
}
.cards{
  text-align: center;
  font-size: 20px;
}
.cards section{
  background-color: #fff8f0;
  border: 5px solid #b78627;
  border-radius: 12px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.cards p1, p2, p3, p4, p5, p6, p7, p8, p9, p10{
  font-family: "Oswald", Arial, sans-serif;
}
.cards p10{
  display: block;
  margin: auto 20px;
}
.cards img{
  width: 90%;
  margin: 20px auto 0;
  border-radius: 12px;
  border: 3px solid #4b4269;
}
/************ INDEX PAGE *************/
#homeheader{
  text-align: center;
  padding-bottom: 20px;
}
.indexcontent{
  display: flex;
  flex-direction: column;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.spots section, #weather, #contactcorp, #reviews, #aboutus{
  background-color: #fff8f0;
  border: 5px solid #b78627;
  border-radius: 12px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.spots section h2{
  text-align: center;
}
.spots p1, p2, p3, p4, p5, p6{
  font-family: "Oswald", Arial, sans-serif;
}
.spots img{
  display: block;
  width: 80%;
  margin: 10px auto;
  border-radius: 12px;
  border: 3px solid #4b4269;
}
q:before,
q:after {
	content: "";
}
q{
  font-weight: 600;
}

#brown, #williams, #anderson{
  margin-right: 20px;
}
#about{
  margin-right: 20px;
}
#caddress, #ccitystate, #ccountry, #cemail, #cphone, #separate{
  margin-right: 20px;
}